


<h1>Maps#index</h1>
<p>Find me in app/views/maps/index.html.erb</p>


<%= gmaps4rails(@json) %>

<%= javascript_include_tag 'gmaps4rails/gmaps4rails.base' %>
<%= javascript_include_tag 'gmaps4rails/gmaps4rails.googlemaps' %>
<%= yield :scripts %>

