<h1><%= @place.title %></h1>
<%= raw @place.description %>


<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:places => @places, :categories => @places_categories}%>
<% end %>