<center xmlns="http://www.w3.org/1999/html"><h2>Про нас:</h2></center>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В свій час сайт починався з ідеї повідомити про існування м. Перечин за межі
  Закарпатської області. Ідея залишилась, тільки трішки перенеслася в часі.
  </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Офіційно проект був запущений у грудні 2012 року,
  портал <a href="http://perechin.net">perechin.net</a> дає можливість користувачам знаходити та переглядати цікаві новини та факти пов’язані
  з містом Перечин, його околицями та жителями.<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Також, крім читання
  та перегляду, кожен бажаючий може взяти участь у віртуальному житті району. Perechin.net є інтернет порталом,
  де можна спілкуватися, ділитися інформацією,
  дізнаватись нові цікаві факти та надихати інших.
</p>

<br/><br/>
<span>З повагою, адмністрація порталу!</span>
<br/><br/>