<h1>Допомога:</h1>
<p>
  У випадку якщо Ви знайшли помилку на сайті, Вас щось не влаштовує в його роботі, є претензії та пропозиції або виникла необхідність напряму зв’язатися з адміністрацією сайту або авторами, Ви можете скористатися електронною поштою.
</p>