<h2 class="star">Останні новини:</h2>

<% @news.each do |news|%>
  <%= render :partial => 'news/news', :locals => {:news => news} %>
<% end %>

<%= button_to "Більше новин...", news_index_path, :class=>"submit_button" %>

