<div class="title">News:</div>

<% @news.each do |news|%>
    <div class="news_container">
      <div>
        <span class="news_title"><%= link_to news.title.to_s, news_path(news) %></span>
      </div>
      <div class="news_preview">
        <%= image_tag  news.attached_assets[0].asset.url(:medium) %>
        <div class="news_date">
          <%= news.created_at %>
        </div>
        <div class="news_comments">
          0 comments
        </div>
        <div class="news_reviews">
          0  views
        </div>
      </div>
      <div class="news_body">
        <%= news.body.to_s %>
      </div>
      <div>
      </div>

    </div>
<% end %>
