<h2 class="star">Останні новини:</h2>

<% @news.each do |news|%>
  <%= render :partial => 'news/news', :locals => {:news => news} %>
<% end %>

<%= link_to "<div class='submit_button' >Більше новин...<div/>", news_index_path %>