table.data-list{
  width: 100%;
  & tr:nth-child(odd){
    background-color: #add8e6;
  }
  & tr{
    vertical-align: top;
  }
  & img{
    margin: 3px;
    max-height: 80px;
    max-width: 50px;
  }
}
