<%= button_to "New role", new_admin_role_path, :class => "button edit_button", :method => :get %>
<br/>
<table class="data-list">
    <% for role in @roles %>
        <tr>
            <td>
            <%= link_to role.name, admin_role_path(role) %>
            </td>
            <td>
              <%= role.description %>
            </td>
            <td>
              <%= link_to "Delete", admin_role_path(role), :confirm => "Are you sure?", :method => :delete %>
            </td>
        </tr>
<% end %>
</table>