<div class="authors">
    <%= link_to 'Всі автори', arts_path(:art_category => params[:art_category], :art_subcategory => params[:art_subcategory]), :class => "button link_button big_button" %>
    <% authors.each do |author| %>
      <div class="authors_list">
        <%= link_to 'Твори автора', arts_path(:art_category => params[:art_category], :art_subcategory => params[:art_subcategory], :author_id => author.id) %>
        <%= image_tag author.avatar.url(:original) %>
        <%= link_to author.name, user_path(author) %>
      </div>
    <% end %>
</div>