@charset "utf-8";

@font-face {
  font-family: NormalFont;
  src: url('fonts/SegoeWP-Light.ttf') format("opentype");
}

@font-face {
  font-family: NewYorkTimes;
  src: url('fonts/Old English Text MT.ttf') format("opentype");
}

body {
    margin:0;
    padding:0;
    width:100%;
    color:#959595;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
    padding:0;
    margin:0;
    background-color:#fff;
}
.logo {
    padding:0 0 0 40px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
    & > h1 > a{
      font-size: 60px;
      font-family: NewYorkTimes;
    }
}
h1 {
    margin:0;
    padding:24px 0;
    color:#49b6e9;
    font:normal 48px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:-1px;
}
h1 a, h1 a:hover {
    color:#49b6e9;
    text-decoration:none;
}
h1 small {
    display:block;
    padding:0 0 0 120px;
    font:normal 13px/1.2em Arial, Helvetica, sans-serif;
    color:#b7b7b7;
    letter-spacing:normal;
}
h2.block-header {
    font:normal 24px Arial, Helvetica, sans-serif;
    padding:8px 0;
    margin:8px 0;
    color:#323a3f;
}
p {
    margin:8px 0;
    padding:0 0 8px 0;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
    text-align:left;
}
a {
    color:#00b3ea;
    text-decoration:underline;
}
a.rm, a.com {
    text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul{
    margin:0;
    padding:0;
}
.header {
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:970px;
    position: relative;
    height: 70px;
}

@-webkit-keyframes movement {
    from {
	left: 0px;
    }
    to {
	left: -1500px;
    }
}
@keyframes movement {
    from {
	left: 0px;
    }
    to {
	left: -1500px;
    }
}
@-o-keyframes movement {
    0% {
	left: 0px;
    }
    100% {
	left: -1500px;
    }
}

.hbg{
  width:970px;
  height: 150px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  & div{
    position:relative;
    left: 0px;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: movement;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    -o-animation-name: movement;
    -o-animation-duration: 70s;
    -o-animation-iteration-count: infinite;
    -moz-animation-name: movement;
    -moz-animation-duration: 70s;
    -moz-animation-iteration-count: infinite;

    width: 3000px;
    background-image: asset-url("logo.jpg", image);
    background-repeat: repeat;
    background-size: 1500px 150px;
    height: 150px;
  }
}

.menu_nav {
    margin:0;
    padding:30px 0 0;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu_nav ul {
    list-style:none;
}
.menu_nav ul li {
    margin:0;
    padding:0 2px 0 0;
    display: inline-block;
}
.menu_nav ul li a {
    margin:0;
    padding:12px 16px;
    color:#959595;
    text-decoration:none;
    font-size:12px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
    color:#61c0ec;
}

.content{
    width: 970px;
    margin:0 auto;
    overflow: hidden;
}

.content .mainbar {
    margin:0;
    padding-right: 10px;
    float:left;
    width:655px;
    border: 1px solid #f7f7f7;
}
.content .mainbar img.fl {
    margin:4px 16px 4px 0;
    float:left;
}
.content .mainbar .article {
    margin:0;
    padding:16px 24px 24px 40px;
}
.article > .img{
    width: 605px;
    height: 197px;
    padding:4px;
    border:1px solid #b7b7b7;
    background-color:#fff;
}
.article > .img > div{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.article > .img > div >img{
    width: 100%;
    margin-top: -60px;
}
.content .sidebar {
    padding:0;
    float:right;
    width:300px;
    border: 1px solid #f7f7f7;
}
.content .sidebar .gadget {
    margin:0;
    padding:16px 16px 24px 40px;
}
ul.sb_menu, ul.ex_menu {
    margin:0;
    padding:0;
    list-style:none;
    color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
    margin:0;
}
ul.sb_menu li {
    padding:4px 0 4px 12px;
    width:220px;
}
ul.ex_menu li {
    padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
    color:#959595;
    text-decoration:none;
    margin-left:-12px;
    padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
    color:#00b3ea;
    font-weight:bold;
}
ul.sb_menu li a:hover {
    text-decoration:underline;
}
ul.ex_menu li a:hover {
    text-decoration:none;
}
.content p.date {
    padding-right:16px;
    float:left;
    color:#323a3f;
    text-align:center;
}
.content p.date span {
    display:block;
    font-size:18px;
}
.content div.pagination {
    font-size:11px;
    text-align:right;
}
.content div.pagination em, .content div.pagination a:hover {
    padding:5px 10px;
    color:#fff;
    background-color:#49b6e9;
}
.content div.pagination a {
    padding:5px 10px;
    color:#fff;
    background-color:#b9b9b9;
    text-decoration:none;
}
.content .mainbar .comment {
    margin:0;
    padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
    border:1px solid #dedede;
    margin:10px 16px 0 0;
    padding:0;
    float:left;
}
.fbg {
}
.fbg_resize {
    margin:0 auto;
    padding:24px 40px;
    width:890px;
}
.fbg h2 {
}
.fbg img {
    padding:4px;
    border:1px solid #cfd2d4;
    background-color:#fff;
}
.fbg .col {
    margin:0;
    float:left;
}
.fbg .c1 {
    padding:0 16px 0 0;
    width:266px;
}
.fbg .c2 {
    padding:0 16px;
    width:300px;
}
.fbg .c3 {
    padding:0 0 0 16px;
    width:260px;
}
.fbg .c1 img {
    margin:8px 16px 4px 0;
    float:left;
}
.fbg ul li {
    border-bottom:1px solid #efefef;
}
.footer {
}
.footer_resize {
    margin:0 auto;
    padding:24px 40px;
    width:890px;
}
.footer p {
    margin:0;
    padding:4px 0;
    line-height:normal;
}
.footer a {
    color:#959595;
    padding:inherit;
    text-decoration:underline;
}
.footer a:hover {
    text-decoration:none;
}
.footer .lf {
    float:left;
}
.footer .rf {
    float:right;
}
ol {
    list-style:none;
}
ol li {
    display:block;
    clear:both;
}
ol li label {
    display:block;
    margin:0;
    padding:16px 0 0 0;
}
ol li input.text {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:5px 2px;
    height:16px;
    background-color:#fff;
}
ol li textarea {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:2px;
    background-color:#fff;
}
ol li .send {
    margin:16px 0 0 0;
}

.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
    position: relative;
}
.clr .qwerty{
    position: absolute;
    top: 100px;
    left: 200px;
}

.flash_message{
    text-align: center;
    height: 30px;
    -moz-transition: all 1.8s 0.1s ease;
    -o-transition: all 1.8s 0.1s ease;
    -webkit-transition: all 1.8s 0.1s ease;
}
.flash_message h3{
    color:red;
}

.field{
  width: 100%;
}

.field input[type=text], textarea{
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
}

.field > label{
  font: normal 24px Arial, Helvetica, sans-serif;
  color: #323A3F;
}

/*buttons */
.edit_button{
  left: 2px;
  font-family: Verdana;
  font-size: 15px;
  min-width: 60px;
  height: 30px;
  background-color: blue;
  margin: 0 auto;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: #0060ff;
  }
}
.remove_button{
  left: 2px;
  font-family: Verdana;
  font-size: 15px;
  min-width: 60px;
  height: 30px;
  background-color: red;
  margin: 0 auto;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: #ff7200;
  }
}
.submit_button{
  left: 2px;
  font-family: Verdana;
  font-size: 15px;
  min-width: 60px;
  height: 30px;
  background-color: #00cc2b;
  margin: 0 auto;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: #00e80f;
  }
  & a{
      padding: 40px;
      text-decoration: none;
      color: white;
  }
}

.buttons{
  & form{
    margin: 0;
    padding: 0;
    display: inline;
    & div{
      display: inline;
    }
    & input{
      display: inline;
    }
  }
}

/* autocomplete */

.autocomplete{
  position: relative;
  height: 0px;
  width: 0px;
  display: none;
}
.autocomplete .list{
   padding: 4px;
   color: gray;
   position: absolute;
   background-color: white;
   border: 2px solid gray;
   border-radius: 3px;
   z-index: 1000;
   top: -3px;
   min-width: 70px;
   & div:hover{
     background-color: rgba(209, 209, 209, 0.25);
     border-radius: 2px;
   }
}
.tag_option{
  cursor: pointer;
}

.tag{
  border: 2px solid #0089ff;
  border-radius: 4px;
  margin: 2px 4px 2px 0px;
  padding: 2px;
  display: inline-block;
  position: relative;
  color: #000000;
  &:hover .remove_icon{
    position: absolute;
    background-image: url(remove.png);
    background-size: 18px, 18px;
    right: -9px;
    top: -9px;
    cursor: pointer;
    display: block;
    width: 18px;
    height: 18px;
  }
  & .remove_icon{
    display: none;
    z-index: 100;
  }
}

.add_button{
  height: 20px;
  width: 30px;
  border-radius: 3px;
  background-color: #00cc2b;
  border: 0;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #00ed33;
  }
}

/*home menu */
ul.menu{
  width: 100%;
  background-color: rgba(0, 125, 255, 0.60);
  margin-top: 10px;
  & > li{
    list-style-type: none;
    margin-left: -4px;
    padding: 3px;
    display: inline-block;
    font-family: Arial;
    border-right: 1px solid white;
    color: white;
    &:hover{
      background-color: #ffffff;
      color: rgba(0, 125, 255, 0.60);
    }
    & a{
      text-decoration: none;
      color: inherit;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      &:hover{
        color: rgba(0, 125, 255, 0.60);
      }
    }
  }
}

.read_more{
  background-color: rgba(0, 125, 255, 0.60);
  width: 100%;
  text-align: center;
    text-decoration: none;
    color: white;
  font-size: 18px;
  padding: 5px;

}

.gray_span{
  color: #a1a1a1;
}