//= require kickstart/kickstart

@font-face {
  font-family: NewYorkTimes;
  src: url('fonts/Old English Text MT.ttf');
}

body{
  background-color: white;
  background-image: url('gray_jean.png');
}

body, html{
  min-width: 700px;
}

.page{
  width: 1007px;
  margin: 0 auto;
}

.header{
  height: 60px;
  .logo{
    font-family: NewYorkTimes;
    font-size: 41px;
  }
  .phrase{
    margin-left: 100px;
    font-size: 10px;
    color: gray;
  }
  ul{
    list-style-type: none;
    li{
      display: inline;
      border-left: 2px solid black;
      padding: 0px 3px;
      margin: 0px;
      a:link, a:visited, a:hover, a:active{
        text-decoration: none;
        color: black;
        font-weight: bolder;
      }
    }
    li:first-child{
      border-left: 0px;
    }
  }
}

i{
  width: 10px;
  height: 10px;
}

