@charset "utf-8";

@font-face {
  font-family: NormalFont;
  src: url('fonts/SegoeWP-Light.ttf') format("opentype");
}

@font-face {
  font-family: NewYorkTimes;
  src: url('fonts/Old English Text MT.ttf') format("opentype");
}

body {
    margin:0;
    padding:0;
    width:100%;
    color:#959595;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html{
    padding:0;
    margin:0;
    background-color:#fff;
}

.logo {

    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 20px;
    left: 0px;
    padding: 20px 20px 0 20px;background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 85%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(85%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 85%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 85%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 85%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 85%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

  & > a{
      font-size: 60px;
      font-family: NewYorkTimes;
      text-decoration: none;
    }   
    & small{font-weight: bold;
    font-size: 10pt;
    color: rgba(209, 209, 209, 1);
    padding-left: 50px;
    }
}
h1 {
    margin:0;
    padding:24px 0;
    color:#49b6e9;
    font:normal 48px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:-1px;
}
h1 a, h1 a:hover {
    color:#49b6e9;
    text-decoration:none;
}
h1 small {
    display:block;
    padding:0 0 0 120px;
    font:normal 13px/1.2em Arial, Helvetica, sans-serif;
    color:#b7b7b7;
    letter-spacing:normal;
}
p {
    margin:8px 0;
    padding:0 0 8px 0;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
    text-align:left;
}
a {
    color:#00b3ea;
    text-decoration:underline;
}
a.rm, a.com {
    text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul{
    margin:0;
    padding:0;
}
.header {
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:970px;
    position: relative;
    height: 70px;
}

@-webkit-keyframes movement {
    from {
	left: 0px;
    }
    to {
	left: -1500px;
    }
}
@keyframes movement {
    from {
	left: 0px;
    }
    to {
	left: -1500px;
    }
}
@-o-keyframes movement {
    0% {
	left: 0px;
    }
    100% {
	left: -1500px;
    }
}

.hbg{
  width: 950px;
position:relative;
  height: 150px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  & div.animate{
    position:relative;
    left: 0px;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: movement;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    -o-animation-name: movement;
    -o-animation-duration: 70s;
    -o-animation-iteration-count: infinite;
    -moz-animation-name: movement;
    -moz-animation-duration: 70s;
    -moz-animation-iteration-count: infinite;

    width: 3000px;
    background-image: asset-url("logo.jpg", image);
    background-repeat: repeat;
    background-size: 1500px 150px;
    height: 150px;
  }
}

.menu_nav {

  background-color: rgba(0,0,0,0.5);
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 15%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 15%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 15%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 15%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 15%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */

  position: absolute;
    top: 0px;
    right: 0px;
}
.menu_nav ul {
    list-style:none;
}
.menu_nav ul li {
    margin:0;
    padding:0 2px 0 0;
    display: inline-block;
}
.menu_nav ul li a {
    margin:0;
    padding:12px 16px;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    font-weight: bold;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
    color:#61c0ec;
}

.content{
    width: 950px;
    margin:0 auto;
    overflow: hidden;
}

.mainbar {
    margin:0;
    float:left;
    width: 650px;
    overflow: hidden;
}

.sidebar {
    padding:0;
    float:right;
    width: 300px;
    margin:0;
}
.content div.pagination {
    font-size:11px;
    text-align:right;
}
.content div.pagination em, .content div.pagination a:hover {
    padding:5px 10px;
    color:#fff;
    background-color:#49b6e9;
}
.content div.pagination a {
    padding:5px 10px;
    color:#fff;
    background-color:#b9b9b9;
    text-decoration:none;
}
.fbg {
}
.fbg_resize {
    margin:0 auto;
    padding:24px 40px;
    width:890px;
}
.fbg h2 {
}
.fbg img {
    padding:4px;
    border:1px solid #cfd2d4;
    background-color:#fff;
}
.fbg .col {
    margin:0;
    float:left;
}
.fbg .c1 {
    padding:0 16px 0 0;
    width:266px;
}
.fbg .c2 {
    padding:0 16px;
    width:300px;
}
.fbg .c3 {
    padding:0 0 0 16px;
    width:260px;
}
.fbg .c1 img {
    margin:8px 16px 4px 0;
    float:left;
}
.fbg ul li {
    border-bottom:1px solid #efefef;
}
.footer {
}
.footer_resize {
    margin:0 auto;
    padding:24px 40px;
    width:890px;
}
.footer p {
    margin:0;
    padding:4px 0;
    line-height:normal;
}
.footer a {
    color:#959595;
    padding:inherit;
    text-decoration:underline;
}
.footer a:hover {
    text-decoration:none;
}
.footer .lf {
    float:left;
}
.footer .rf {
    float:right;
}
ol {
    list-style:none;
}
ol li {
    display:block;
    clear:both;
}
ol li label {
    display:block;
    margin:0;
    padding:16px 0 0 0;
}
ol li input.text {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:5px 2px;
    height:16px;
    background-color:#fff;
}
ol li textarea {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:2px;
    background-color:#fff;
}
ol li .send {
    margin:16px 0 0 0;
}

.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
    position: relative;
}
.clr .qwerty{
    position: absolute;
    top: 100px;
    left: 200px;
}

.flash_message{
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  -moz-transition: all 1.8s 0.1s ease;
  -o-transition: all 1.8s 0.1s ease;
  -webkit-transition: all 1.8s 0.1s ease;
  color: transparent;
  font-size: 25px;
  -webkit-animation-duration: 200ms;
}

.field{
  width: 100%;
}

.field input[type=text], textarea{
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
}

.field > label{
  font: normal 24px Arial, Helvetica, sans-serif;
  color: #323A3F;
}

div.tags{
  padding: 10px;
  text-align: right;
}

div.sidebar-block-content{
  padding: 10px;
}

/*buttons */

form.button_to{
  display: inline-block;
  & div{
    display: inline-block;
  }
}

.button{
  padding: 4px 12px;
  margin:  0;
  text-decoration: none;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-size: 200px 45px;
  &:hover{
    background-position: 0 -15px;
  }
}
input.button{
  height: 31px;
}

.edit_button{
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: white;
}
.remove_button{
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: white;
}

.submit_button{
  background-color: #006dcc;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: white;
}

.link_button{
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #333333;
}

.big_button{
  background-size: 200px 60px;
  width: 99%;
  padding: 6px 0px;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.buttons{
  & form{
    margin: 0;
    padding: 0;
    display: inline;
    & div{
      display: inline;
    }
    & input{
      display: inline;
    }
  }
}

/* autocomplete */

.autocomplete{
  position: relative;
  height: 0px;
  width: 0px;
  display: none;
}
.autocomplete .list{
   padding: 4px;
   color: gray;
   position: absolute;
   background-color: white;
   border: 2px solid gray;
   border-radius: 3px;
   z-index: 1000;
   top: -3px;
   min-width: 70px;
   & div:hover{
     background-color: rgba(209, 209, 209, 0.25);
     border-radius: 2px;
   }
}
.tag_option{
  cursor: pointer;
}

.tag{
  border: 2px solid #0089ff;
  border-radius: 4px;
  margin: 2px 4px 2px 0px;
  padding: 2px;
  display: inline-block;
  position: relative;
  color: #000000;
  &:hover .remove_icon{
    position: absolute;
    background-image: url(remove.png);
    background-size: 18px, 18px;
    right: -9px;
    top: -9px;
    cursor: pointer;
    display: block;
    width: 18px;
    height: 18px;
  }
  & .remove_icon{
    display: none;
    z-index: 100;
  }
}

.add_button{
  height: 20px;
  width: 30px;
  border-radius: 3px;
  background-color: #00cc2b;
  border: 0;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #00ed33;
  }
}

.gray_span{
  color: #a1a1a1;
}

/*   ОСНОВНЕ МЕНЮ САЙТУ  */

ul.menu{
  display:inline;
  height:38px;
  padding:0; margin:0;
  display:block;
  width:100%;
  margin:auto;
  list-style:none;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-right: 1px solid black;
  border-left: 1px solid grey;
  border-top: 1px solid black;
  float:left;
  & li{
    vertical-align: middle;
    list-style:none;
    float:left;
    & a{
      font-family:Arial, Helvetica, sans-serif;
      font-size:13px;
      color:#FFF;
      text-decoration:none;
      border-right: 1px solid black;
      border-left: 1px solid grey;
      border-top: 1px solid grey;
      padding:7px 10px 7px 10px;
      display:block;
      text-shadow:0 -1px 0 #000;
      &:hover {
        background: #151515;
        margin-top:0px;
      }
      &:active{
        background: -moz-linear-gradient(top, #0088cc, #0044cc);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background: -o-linear-gradient(top, #0088cc, #0044cc);
        background: linear-gradient(to bottom, #0088cc, #0044cc);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);

        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
        margin-top:0px;
        border-right: 1px solid black;
        margin-top:0px;
      }
    }
    &.active a{
      background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
      background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
      background-image: -o-linear-gradient(top, #0088cc, #0044cc);
      background-image: linear-gradient(to bottom, #0088cc, #0044cc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
      border-color: #0044cc #0044cc #002a80;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
      margin-top:0px;
      border-right: 1px solid black;
    }
  }
}


/* bootstrap sidebar list*/

.gadget{
  margin: 10px 1px 0px 10px;
}
/* Shapka saydera */
ul.sidebar-block{
  overflow: hidden;
  -moz-transition: max-height 0.8s 0.1s ease;
  -o-transition: max-height 0.8s 0.1s ease;
  -webkit-transition: max-height 0.8s 0.1s ease;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
  border: 1px solid #e5e5e5;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  & > li{
    border-top: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;
    &:first-child{
      border-top: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      -moz-border-top-left-radius: 3px;
      -mox-border-top-right-radius:3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      text-align: center;
      padding-right: 12px;
      font-size: 18px;
      background: #eeeeee; /* Old browsers */
      background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

      color: #333333;
      line-height: 22px;
      .arrow-right-icon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1px;
        right: 10px;
        background-image: url('icons/arrow_forward.png');
        background-repeat: no-repeat;
        background-size: cover;

        -moz-transition: all 0.8s 0.1s ease;
        -o-transition: all 0.8s 0.1s ease;
        -webkit-transition: all 0.8s 0.1s ease;
      }
      .transformed_arrow{
        -moz-transform:    rotate(90deg)
        translateX(0px)
        scale(1.5);
        -o-transform:      rotate(90deg)
        translateX(0px)
        scale(1.5);
        -webkit-transform: rotate(90deg)
        translateX(0px)
        scale(1.5);
        transform:         rotate(90deg)
        translateX(0px)
        scale(1.5);

        ///* для IE8+ */
        //-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.060660171779821, M12=-1.0606601717798214, M21=1.0606601717798214, M22=1.060660171779821, SizingMethod='auto expand')";
        //
        ///* IE6 and 7 */
        //filter: progid:DXImageTransform.Microsoft.Matrix(
        //M11=1.060660171779821,
        //M12=-1.0606601717798214,
        //M21=1.0606601717798214,
        //M22=1.060660171779821,
        //SizingMethod='auto expand');
        //margin-left: -15px; /* IE 6 and below */
        //margin-top: -15px;  /* IE 6 and below */

      }
    }
    &:first-child.dropdown{
      cursor: pointer;
    }
    &:last-child{
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      -moz-border-bottom-left-radius: 3px;
      -mox-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
    }
  }
}

ul.sidebar-menu{
  line-height: 30px;
  & > li{
    &:not(:first-child) .arrow-right-icon{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 10px;
      background-image: url('icons/arrow_forward.png');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
    }
    & > a{
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      color: #0088cc;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: block;
      padding-left: 20px;
    }
    &:not(:first-child):hover{
      &:not(.selected_item){
        background-color: #eeeeee;
        & a{
          color: #333333;
        }
        & .arrow-right-icon{
          opacity: 1;
        }
      }
    }
  }
  & .selected_item{
    background-color: #0088cc;
    & a{
      color: white;
      text-shadow: none;
    }
    & .arrow-right-icon{
      opacity: 1;
      background-image: url('icons/arrow_forward_white.png');
    }
  }
}

span.message_counter{
  background-color: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}

/* list item */

.list_item_holder{
  margin-top: 0px;
  border-top: 1px solid #cccccc;
  width: 100%;
  margin-right: 1px;

  &:first-child{
    margin-top: 10px;
  }
  & a{
    color: #000000;
    text-decoration: underline;
  }
  & .item_title{
    background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(229,229,229,0) 39%, rgba(229,229,229,0) 55%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.65)), color-stop(39%,rgba(229,229,229,0)), color-stop(55%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(229,229,229,0) 39%,rgba(229,229,229,0) 55%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(229,229,229,0) 39%,rgba(229,229,229,0) 55%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(229,229,229,0) 39%,rgba(229,229,229,0) 55%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(229,229,229,0) 39%,rgba(229,229,229,0) 55%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5e5e5', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
    padding-top: 8px;
    padding-left: 4px;
    .add{
       float: left;
    }
    .add a{
          color: gray;
          text-decoration: none;
    }
    .icons{
      float: right;
      padding-right: 10px;
      text-decoration: none;
    }
    .fleft{float: left;}
    .item_author{
      width: 70px;
      img{
        margin-top: 5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid gray;
        width: 68px;
      }
      float: right;
    }
    .item_meta{
      color: gray;
    }
    &  .item_title_text{
      font-size: 25px;
      font-style: normal;
      color: #0088cc;
      vertical-align: middle;
      font-family: Arial;
      text-decoration: none;
    }
  }
  .divider_text{
      margin-top: -1em;
      span{
        background-color: white;
      }
  }
  .preview_image{



    width: 100%;
    background-color: #ffffff;
    border: 1px solid white;
    text-align: center;
    div{
      width: 100%;
      height: 200px;
      background-color: #efefef;
      img{
        margin: 0;
        max-width: 100%;
        height: 200px;
      }
    }
  }
  .readmore{
    font-size: 14px;
    float: right;
    }
}


/* comments */

.comment_holder{
  border-top: 1px solid gray;
  margin-top: 5px;
  img{
    margin-top: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gray;
    width: 68px;
    float: left;
  }
  .comment_date{
    float: right;
  }
  .comment_user{
    float: left;
    margin-left: 10px;
  }
  .comment_content{
    textarea{
      width: 99%;
      resize: vertical;
    }
    margin-top: 25px;
    margin-left: 80px;
    color: #030407;
  }
}

/* icons */
.change_icon{
  width: 28px;
  height: 40px;
  display: inline-block;
  background-image: url(icons/icons.jpg);
  background-position: -220px -187px;
  background-size: 300px; vertical-align: middle;
}
.comments_icon{
  width: 28px;
  height: 40px;
  display: inline-block;
  background-image: url(icons/icons.jpg);
  background-position: -137px -142px;
  background-size: 300px; vertical-align: middle;
}
.moderate_icon{
  width: 28px;
  height: 40px;
  display: inline-block;
  background-image: url(icons/icons.jpg);
  background-position: -175px -184px;
  background-size: 300px; vertical-align: middle;
}
.delete_icon{
  width: 28px;
  height: 40px;
  display: inline-block;
  background-image: url(icons/icons.jpg);
  background-position: -95px -53px;
  background-size: 300px; vertical-align: middle;
}
.review_icon{
  width: 28px;
  height: 40px;
  display: inline-block;
  background-image: url(icons/icons.jpg);
  background-position: -95px -142px;
  background-size: 300px; vertical-align: middle;
}


.just_title{
  font-size: 27px;
  font-style: italic;
  color: #030407;
  vertical-align: middle;
  font-family: Arial;
  text-decoration: none;
}