//= require jquery_ui/css/smoothness/jquery-ui-1.9.2.custom.min.css
//= require elrte/css/elrte.min.css
//= require elrte/css/elrte-inner.css

.authors{
  margin-top: 10px;
  width: 150px;
  float: left;
  & .authors_list{
    margin-top: 10px;
    color: white;
    background-color: #0088cc;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    & img{
      width: 100%;
    }
    & a{
      text-decoration: none;
      color: #ffffff;
      }
  }
}

.art_content{
  padding: 0px;
  float: right;
  width: 490px;
}

.linkbutton{
  float: right;
  }
.author a{
  text-decoration: none;
  color: #555555;
}
