



.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors label {
    color: #fff;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #c00; /* /  */
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

/* header */
body{
    background: url('header.jpg') no-repeat center top;
    background-color: black;
    margin: 0px;
}

header{
    height: 340px;
    position: relative;
    margin: auto;
}

header .logo{
    position: absolute;
    top: 100px;
    left: 150px;
    color: #ff4500;
    font-family: Verdana;
    font-size: 60px;
    font-style: oblique;
}

header .auth{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 15px;
}

header .links{
     position: absolute;
     bottom: 10px;
     left: 10px;
     color: #ffffff;
     font-size: 15px;
 }

header .auth a{
    color: white;
}

header .links a{
    color: white;
}

header .links li{
    margin: 1px;
    padding: 6px;
    background-color: rgba(255, 77, 0, 0.63);
    float: left;
}

header .links ul{
    list-style: none;
}

header .auth ul{
    list-style: none;
}

header .auth li{
    padding: 6px;
    margin: 1px;
    background-color: rgba(255, 77, 0, 0.63);
    float: left;
}

/* body */

.container {
    width: 1000px;
    margin: auto;
}

.content{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffffff;
}

/* footer */

footer{
    height: 400px;
    width: 100%;
    background: url('footer.jpg') no-repeat bottom right;
    margin: 0px;
}

footer table{
    height: 100px;
    width: 1000px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 11px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 11px rgba(50, 50, 50, 1);
}

footer td{
    color: gray;
    width: 250px;
    text-align: justify;
    padding: 4px;
}

/* sidebar */

.sidebar{
    width: 300px;
    float: left;
    margin: 10px;
}

.clear{
    clear: both;
    width: 0px;
}

/* yield */

.yield{
    width: 650px;
    float: left;
    margin: 10px;
}

.block .body{
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 11px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 11px rgba(50, 50, 50, 1);
}

/* titles */

.title{
    color: #ff4500;
    font-size: 20px;
}