//= require jquery_ui/css/smoothness/jquery-ui-1.9.2.custom.min.css
//= require elrte/css/elrte.min.css
//= require elrte/css/elrte-inner.css

.map_container {
  margin-top: 10px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 630px;
}

.gmaps4rails_map {
  width: 630px;
  height: 400px;
}

.bing_map {
  position: absolute;
  top: 20;
  left: 10;
  width: 630px;
  height: 400px;
  border:#555555 2px solid;
}


.populated_places_list{
  margin-top: 10px;
  width: 150px;
  float: left;

}

.page_content{
  margin-top: 10px;
  padding: 0px;
  float: right;
  width: 490px;
}

.infowindow{
  width: 300px;
}

.window_title{
  font-size: 18px;
}

.window_image{
  background-color: #dedede;
  width: 120px;
  float: left;
  img{
    width: 100%;
  }
}