
/* news */
.news_container{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #D1D1D1 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #D1D1D1 100%);
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #D1D1D1 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FAFAFA), color-stop(1, #D1D1D1));
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #D1D1D1 100%);
    background-image: linear-gradient(to top, #FAFAFA 0%, #D1D1D1 100%);
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 4px rgba(50, 50, 50, 1);
}

.news_title{
    word-wrap: break-word;
    color: #ff4500;
    font-size: 20px;
}

div.news_body{
    word-wrap: break-word;
    word-break: break-all;
}

.news_preview{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.news_preview img{
    position: absolute;
    width: 100%;
}

.news_date{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 77, 0, 0.63);
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.news_comments{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 62, 33, 0.61);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    right: 0px;
}
.news_reviews{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 77, 0, 0.63);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    right: 0px;
    top: 60px;
}

/* slider */
#galleria{
    width: 100%;
    height: 400px;
    background: #000
}

/*comments */
/* container holder */

.container_holder {
    background: #DDDDDD;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.298);
    margin-bottom: 20px;
    padding: 15px 30px 15px 15px;
.comment_remover{
    display: none;
    position: relative;
    width: 20px;
    top: 0px;
    float: right;
}
&:hover{
.comment_remover{
    display: inline;
#comment_remove{
    cursor: pointer;
}
    }
    }
.container_picture{
    background-color: white;
    padding: 4px;
    margin: 0;
}
    }

.comment-info {
    width: 600px;
}

.comment-meta {
    color: #999999;
    font-size: 0.75em;
    margin: 0px 0px 3px;
    padding: 4px 0px;
    position: relative;
    top: -2px;
}

.comment-content{
    word-wrap: break-word;
}


