.form-title {
  margin-bottom:10px;
  color: #fcfcfc;
  text-shadow: #47479e 0 1px 0;
}

.form-field {
  border: 1px solid #a2abc7;
  background: #e8ecfa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #6c7c94;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  padding:8px;
  margin-bottom:20px;
  width:280px;
}
.form-field:focus {
  background: #fff;
  color: #0f0a03;
}

.form-container {
  margin: 0 auto;
  border: 1px solid #404ca6;
  background: #45adf5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
  -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
  box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  text-decoration: none;
  vertical-align: middle;
  min-width:300px;
  padding:20px;
  width:300px;
}

.form-container h2.form-h2 {
  text-shadow: #47479e 0 1px 0;
  font-size:18px;
  margin: 0 0 10px 0;
  font-weight:bold;
  text-align:center;
}

.submit-container {
  margin:8px 0;
  text-align:right;
}

.submit-container a{color: white;}
.submit-button {

  font-size: 14px;
  border: 1px solid #163f5e;
  background: rgb(81,165,239); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(81,165,239,1) 0%, rgba(58,150,236,1) 50%, rgba(30,131,238,1) 51%, rgba(28,95,202,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,165,239,1)), color-stop(50%,rgba(58,150,236,1)), color-stop(51%,rgba(30,131,238,1)), color-stop(100%,rgba(28,95,202,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(81,165,239,1) 0%,rgba(58,150,236,1) 50%,rgba(30,131,238,1) 51%,rgba(28,95,202,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(81,165,239,1) 0%,rgba(58,150,236,1) 50%,rgba(30,131,238,1) 51%,rgba(28,95,202,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(81,165,239,1) 0%,rgba(58,150,236,1) 50%,rgba(30,131,238,1) 51%,rgba(28,95,202,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(81,165,239,1) 0%,rgba(58,150,236,1) 50%,rgba(30,131,238,1) 51%,rgba(28,95,202,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a5ef', endColorstr='#1c5fca',GradientType=0 ); /* IE6-9 */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: #636a7a 0 1px 0;
  color: white;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}
.submit-button:hover {
  font-size: 14px;
  border: 1px solid #0f2836;
  text-shadow: #193e57 0 1px 0;
  background: rgb(127,189,243); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,189,243,1) 0%, rgba(104,174,240,1) 50%, rgba(78,157,242,1) 51%, rgba(54,121,228,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,189,243,1)), color-stop(50%,rgba(104,174,240,1)), color-stop(51%,rgba(78,157,242,1)), color-stop(100%,rgba(54,121,228,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,189,243,1) 0%,rgba(104,174,240,1) 50%,rgba(78,157,242,1) 51%,rgba(54,121,228,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,189,243,1) 0%,rgba(104,174,240,1) 50%,rgba(78,157,242,1) 51%,rgba(54,121,228,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,189,243,1) 0%,rgba(104,174,240,1) 50%,rgba(78,157,242,1) 51%,rgba(54,121,228,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,189,243,1) 0%,rgba(104,174,240,1) 50%,rgba(78,157,242,1) 51%,rgba(54,121,228,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fbdf3', endColorstr='#3679e4',GradientType=0 ); /* IE6-9 */


  color: #fff;
}
.submit-button:active {
  font-size: 14px;
  text-shadow: #0d1494 0 1px 0;
  -webkit-box-shadow: rgba(255,255,255,0.4) 10px;
  -moz-box-shadow: rgba(255,255,255,0.4) 10px;
  box-shadow: rgba(255,255,255,0.4) 10px;

}