<% anecdote = daily_anecdote %>
<% if anecdote %>
    <div class="gadget">
      <ul class="sidebar-block">
        <li>
          Закарпатський гумор
        </li>
        <li>
          <div class="sidebar-block-content">
              <span class="gray_span"><%= anecdote.title %></span>
              <br/>
              <%= raw anecdote.body %>
          </div>
        </li>
      </ul>
    </div>
<% end %>