<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-6YmIIBQ2Nh71O8" class="gsInformer" style="width:265px;height:167px">
  <div class="gsIContent">
    <div id="cityLink">
      <a href="http://www.gismeteo.ua/ua/city/daily/12038/" target="_blank">Погода у Перечині</a>
    </div>
    <div class="gsLinks">
      <table>
        <tr>
          <td>
            <div class="leftCol">
              <a href="http://www.gismeteo.ua/ua" target="_blank">
                <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ua/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
                <span>Gismeteo</span>
              </a>
            </div>
            <div class="rightCol">
              <a href="http://www.gismeteo.ua/ua/city/weekly/12038/" target="_blank">Прогноз на 2 тижні</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ua/ajax/getInformer/?hash=6YmIIBQ2Nh71O8" type="text/javascript"></script>
<!-- Gismeteo informer END -->
<br/><!--Kurs.com.ua main 265x130 Перечин blue-->
<script type="text/javascript">
    document.write('<iframe width="265" height="130" frameborder="0" src="http://ua.kurs.com.ua/informer/inf2/1651?color=blue" vspace="0" scrolling="no" hspace="0"></iframe>');
</script>
<noscript><a href="http://ua.kurs.com.ua/spravochnik/gorod/perechin" target="_blank"><img src="http://ua.kurs.com.ua/static/images/informer/kurs.png" width="52" height="26" alt="kurs.com.ua: курс валют в Украине!" title="Курс валют" border="0" /></a><a href="http://ua.kurs.com.ua/informer" title="Курс валют информер">Информер курс валют</a></noscript>
<!--//Kurs.com.ua main 265x130 Перечин blue-->