<!--Kurs.com.ua main 265x130 Перечин blue-->
<script type="text/javascript">
    document.write('<iframe width="265" height="130" frameborder="0" src="http://ua.kurs.com.ua/informer/inf2/1651?color=blue" vspace="0" scrolling="no" hspace="0"></iframe>');
</script>
<noscript><a href="http://ua.kurs.com.ua/spravochnik/gorod/perechin" target="_blank"><img src="http://ua.kurs.com.ua/static/images/informer/kurs.png" width="52" height="26" alt="kurs.com.ua: курс валют в Украине!" title="Курс валют" border="0" /></a><a href="http://ua.kurs.com.ua/informer" title="Курс валют информер">Информер курс валют</a></noscript>
<!--//Kurs.com.ua main 265x130 Перечин blue-->